html {
  overflow-x: hidden;
}

/* BLOG AREA */

.img-area {
  background-image: url(/assets/communities-section-bg-1c660e8….jpg);
  height: 475px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog-list {
  margin-bottom: 50px;
}
.blog-list h4 a {
  color: #2874a6;
}
.read-more {
  display: block;
  color: #fff;
  background-color: #2874a6;
  width: 140px;
  padding: 10px;
  margin-top: 10px;
}
.read-more:hover {
  color: #fff;
  text-decoration: none;
}
.author-img {
  width: 40px;
  border-radius: 20px;
  margin: 10px 0;
  height: 40px;
}
.author-name {
  margin-left: 10px;
}
.blog-date {
  word-spacing: 120px;
  text-align: center;
}
.blog-title {
  text-align: center;
  position: absolute;
  width: 80%;
  color: #fff;
  padding: 117px;
}
/* CUSTOM CSS */

footer span {
  font-family: Montserrat Medium, sans-serif;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/*Header*/

.top-info li a {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  color: #101010;
  text-shadow: 4px 1.3px #e8e8e8;
}

.top-info li {
  padding: 0 10px;
  margin-bottom: 0;
  align-self: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #008cefbf;
  transition: all 0.35s ease-in-out;
}

.header-module--is-sticky--VkInE {
  z-index: 4 !important;
}

.header-module--sticky-wrapper--1wtIl .header {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-module--is-sticky--VkInE .header-module--menu-container--3BddV {
  background: #2e9fef;
}

/*Hero Banner*/

.hero-section {
  position: relative;
}

#hero .swiper-wrapper {
  height: 800px !important;
}

.bg-light {
  background-color: #f3f7fb !important;
}

.hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.hero-content {
  position: absolute;
  top: 25%;
  z-index: 3;
  padding-top: 7%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/*Footer*/

#top-footer {
  padding: 60px 0;
  background: url(https://images.unsplash.com/photo-1544281679-70f2022b5ced?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
    no-repeat top;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 110px 0 50px;
}

#top-footer:before {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1f4374),
    to(#3680e2)
  );
  background: linear-gradient(#1c71bd, #0f75fb);
  content: "";
  top: 0;
  opacity: 0.9;
}

.footer-title {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  color: #101010;
  text-shadow: 4px 1.3px #e8e8e8;
}
.f-menu li {
  list-style: none;
  margin-bottom: 10px;
}

#top-footer ul {
  margin-left: 0;
}

.f-menu li a {
  color: #fff;
  font-weight: 400;
}

.fmail,
.fphone {
  color: #c9c9c9;
}

#copyright {
  background: #0f5fb5;
  padding: 15px 0;
}
